<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.ddump.rclone-gdrive.legacy</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>{{BIN_DIR}}/rclone-gdrive-mount.sh</string>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <false/>
  <key>StandardOutPath</key>
  <string>{{LOG_DIR}}/rclone-gdrive.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>{{LOG_DIR}}/rclone-gdrive.stderr.log</string>
  <key>ThrottleInterval</key>
  <integer>30</integer>
</dict>
</plist>
